*{
    margin: 0 0;
}
#title h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: khaki;
    background-image: url("../images/pattern.jpeg");
    margin: 80px 0px;
}
.elements h3{
    display: block;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 20px 0px;
}

#brushes h3{
    background-color: mediumspringgreen;
}

span{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

#frames h3{
    background-color: lightcoral;
}

#paint h3{
    background-color: skyblue;
}

h4{
    margin: 20px 0px;
    font-size: 20px;
}

p{
    font-size: 18px;
}